@import 'http://fonts.googleapis.com/css?family=Open+Sans';
@import url('https://fonts.googleapis.com/css?family=Merienda+One');

@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');
@import url('https://fonts.googleapis.com/css?family=Baloo+Tammudu&subset=latin-ext,telugu,vietnamese');

@import url('https://fonts.googleapis.com/css?family=Sriracha');
@import url('https://fonts.googleapis.com/css?family=Suez+One');



@import url(https://raw.github.com/FortAwesome/Font-Awesome/master/docs/assets/css/font-awesome.min.css);



* {
      padding: 0;
      margin: 0;
      list-style: none;
      text-decoration: none;
      letter-spacing: 1px;
      box-sizing: border-box;
}

body {
    overflow-x: hidden;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    background: #d52424;
    margin: 0;
    padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

li {
    list-style: none;
    display: inline-block;
}

a {
    text-decoration: none;
    transition: all 450ms ease-in-out;
    font-family: 'Open sans', sans-serif !important;
    color: #fff !important;
    
}

a:hover, a:active {
    text-decoration: none;
    font-family: 'Open sans', sans-serif !important;
}

p {
    font-size: 15px;
    line-height: 21px;
}

.btn {
    transition: all 300ms ease-in-out;
    font-weight: bold;
    font-family: 'Open sans', sans-serif !important;
}

.btn:hover {
    background-color: #fff; !important;
    color: #d52424 !important;
    border: 1px solid #fff !important;
    font-weight: bold;
    font-family: 'Open sans', sans-serif !important;
}

.btn-primary {
    color: #fff;
    background-color: #990b0b;
    border-color: #990b0b;
    border-radius: 2px;
}

.navbar-brand img {
    width: 69px;
    height: auto;
    margin-top: -22px;
    margin-bottom: 0;
    transition: all 0.5s ease;
}

.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    font-family: 'Open sans', sans-serif !important;
}

.navbar-default .navbar-toggle {
    border: none !important;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent !important;
}





/*GLOBAL*/
.container {
    width: 90%;
    margin: auto;
}

ul {
    margin: 0;
    padding: 0;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff !important;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent !important;
}




/*NAVIGATION*/

.nav {
    padding:0;
    transition: all 0.3s ease;
}

.navbar {
    background-color: transparent;
    font-family: 'Open sans' !important;
    border: 0;
    padding: 5px;
    transition: all 0.5s ease;
}

.navbar a {
    color: #FFFFFF !important;
    opacity: 0.8;
    font-weight: bolder;
    font-family: 'Open sans', sans-serif !important;
    
}

.navbar a:hover {
    opacity: 1;
    color: #efab90 !important;
    font-weight: 700;
    font-family: 'Open sans', sans-serif !important;
}

.navbar-form {
    padding-top: 0;
    transition: all 0.3s ease
}


/* WebKit, Blink, Edge */

.form-control::-webkit-input-placeholder { 
    font-family: 'Open sans', sans-serif !important;
    font-weight: 600;
    opacity: 0.6;
}

/* Mozilla Firefox 4 to 18 */

.form-control:-moz-placeholder {            font-family: 'Open sans', sans-serif !important;
     font-weight: 600;
    opacity: 0.6;
} 

/* Mozilla Firefox 19+ */

.form-control::-moz-placeholder {          font-family: 'Open sans', sans-serif !important;
     font-weight: 600;
    opacity: 0.6;
}

/* Internet Explorer 10-11 */

.form-control:-ms-input-placeholder {      font-family: 'Open sans', sans-serif !important; 
     font-weight: 600;
    opacity: 0.6;
}

/* Microsoft Edge */

.form-control::-ms-input-placeholder {      font-family: 'Open sans', sans-serif !important;
     font-weight: 600;
    opacity: 0.6;
}



header {
	transition: all 0.3s ease;
    padding: 0;
    margin: 0;
}

header.sticky {
    background-color: #fff;
    margin: -5px -5px -5px -5px;
    padding: 5px;
    
}

header.sticky .navbar-brand img {
    width: 60px;
    height: auto;
    padding: 4px 0 4px 0;
}

header.sticky a {
    color: #212121 !important;
    transition: all 0.3s ease;
}

header.sticky .navbar-toggle .icon-bar {
    background-color: #2f2c2c !important;
    transition: all 0.3s ease-in;
}

header.sticky .nav {
    padding: 0 !important;
    transition: all 0.3s ease-in;
}

header.sticky .navbar-form {
    padding-top: 0;
    transition: all 0.3s ease;
}






/*HEADER*/
.header {
    height: 663px;
    width: 100%;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    background-image: url(../images/bannerabout.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header h1 {
    font-size: 70px;
    font-family: 'Suez One', serif;
    margin-bottom: 5px;
    margin-top: 535px;
    text-align: left;
    color: #fff;
    font-style: italic;
}

.col-lg-12.col-md-12{
		text-align: center;
	}

.header p {
    margin-top: -460px;
    text-align:right;
    margin-bottom: 0;
    padding: 0 0 0 750px;
    font-size: 16px;
    font-style: italic;
    color: #fff;
}






/*INTRO*/

.pull-right  {
    float: left;
    width: 550px;
    height: auto;
    margin-top: 120px;
    margin-bottom: 80px;
    
}

.intro {
    padding: 10px;
    margin-top: 120px;
    margin-bottom: 80px;
    background: #fff;
    width: 550px;
}

.intro h1 {
    color: #c92222;
    text-align: center;
    font-family: 'Suez One', serif;
    font-size:40px;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: inherit;
}

.intro p {
    float: center;
    color: #000;
    font-size: 13px;5px;
    font-weight: bold;
    text-align: center;
    font-family: 'Open sans', sans-serif;
    margin-top: 10px;
}

iframe {
    width: 550px !important;
    height: 275px !important;
}








/*FOOTER*/

.socmed {
    padding: 27px 3px 0 3px !important;
}

.copyr {
    float: left;
}

footer .picture {
    position: relative;
    display: block;
    padding: 5px 3px 5px 3px !important;
    overflow: hidden !important;
    width: 42px;
    height: 42px;
    margin-top: -13px;
    display: inline-block;
}

footer .picture img {
    transition: transform .2s ease-in-out;
    
}

footer .picture img:hover {
    transform: translate3d(0px, -37px, 0px);
}


footer {
	background: #d52424;
	height: 70px;
	padding-bottom:0;
	position: relative;
	width: 100%;
    color: #ffffff;
    text-align: right;
}

footer p {
	margin-top: 29px;
    padding: 0;
    font-size: 12px;
    font-family: sans-serif;
    opacity: 0.8;
}





/**===Scroll to Top====**/

#scrollToTop {
	font-size: 3em;
	color:#990b0b;
	position:fixed;
	right:20px;
	bottom: 0;
	transition:all 0.5s ease;
}

#scrollToTop:hover {
	transform: scale(1.1,1.1);
	transition:all 0.5s ease;
}

.hide {
	transform: scale(0,0);
}










/*Responsive*/

@media(max-width: 1920px) {
    
    .header {
        height: 663px;
        width: 100%;
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
        background-image: url(../images/bannerabout1920.jpg);
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .header h1 {
        font-size: 70px;
        font-family: 'Suez One', serif;
        margin-bottom: 5px;
        margin-top: 535px;
        text-align: left;
        color: #fff;
        font-style: italic;
    }

    .col-lg-12.col-md-12{
            text-align: center;
        }

    .header p {
        margin-top: -460px;
        text-align:right;
        margin-bottom: 0;
        padding: 0 0 0 1000px;
        font-size: 16px;
        font-style: italic;
        color: #fff;
    }
}


@media(max-width: 1520px) {
    
      .header p {
        margin-top: -460px;
        text-align:right;
        margin-bottom: 0;
        padding: 0 0 0 850px;
        font-size: 16px;
        font-style: italic;
        color: #fff;
    }
}



@media(max-width: 1366px) {
    
    .header {
        height: 663px;
        width: 100%;
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
        background-image: url(../images/bannerabout.jpg);
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .header h1 {
        font-size: 70px;
        font-family: 'Suez One', serif;
        margin-bottom: 5px;
        margin-top: 535px;
        text-align: left;
        color: #fff;
        font-style: italic;
    }

    .col-lg-12.col-md-12{
            text-align: center;
        }

    .header p {
        margin-top: -460px;
        text-align:right;
        margin-bottom: 0;
        padding: 0 0 0 750px;
        font-size: 16px;
        font-style: italic;
        color: #fff;
    }
}




@media(max-width: 1230px) {
    
    .header h1 {
       margin-top: 155px !important;
       text-align: center !important;
    }

    .col-lg-12.col-md-12{
            text-align: center;
        }

    .header p {
        margin-top: 90px !important;
        text-align:center!important;
        padding: 0 !important;
    }
}




@media(max-width: 1116px) {
    
    .pull-right {
        margin-top: 0 !important;
        width: 100%;
        margin-bottom: 0;
    }

    .intro {
        margin-bottom: 0 !important;
        height: 275px;
        margin-top: 0 !important;
        width: 100%;
    }
    
    iframe {
        width: 100% !important;
    }
}




@media(max-width: 915px) {
    
    
    .navbar {
        border: none;
        float: right;
    }
    
    .navbar-brand img {
        width: 69px;
        height: auto;
        margin-top: -22px;
        transition: all 0.3s ease;
    }
    
    header.sticky .navbar-brand img {
        width: 58px;
        height: auto;
        margin-top: -25px;
        margin-bottom: 0;
    }
    
    .header h1 {
        font-size: 55px;
    }
    
    .header p {
        font-size: 14px;
        margin-top: 30px !important;
    }
    
    .whats h2 {
        font-size: 45px;
        color: #6977a6;
        margin-bottom: 30px;
        margin-top: 40px;
    }
 
    .col-lg-12.col-md-12{
		text-align: center;
	}
    
}


@media(max-width: 885px) {
    
      .nav {
        padding:0;
    }
    
    .navbar {
        background-color: rgba(0,0,0, 0.8);
    }
    
    .navbar-brand img {
        width: 60px;
        height: auto;
        margin-top: -22px;
        transition: all 0.3s ease;
    }
    
    header.sticky .navbar-form {
        padding-top: 10px !important;
    }
    .navbar-form {
        padding-top: 10px;
    }
    
}




@media (max-width: 513px) {
    
    .intro h1 {
        font-size:60px;
    }
}




@media (max-width: 520px) {
    
    
    .nav {
        padding:0;
        transition: all 0.3s ease;
    }
    
    .navbar-brand img {
        width: 60px;
        height: auto;
        margin-top: -22px;
        margin-bottom: 0;
        transition: all 0.3s ease;
    }
    
    .copyr {
        float: none;
        text-align: center;
    }

    .socmed {
        float: none;
        text-align: center;
    }
}


@media(max-width: 430px) {
    
    
     .navbar-brand img {
        width: 60px;
        height: auto;
        margin-top: -22px;
        margin-bottom: 0;
        transition: all 0.3s ease;
    }
    
    header.sticky .navbar-brand img {
        width: 58px;
        height: auto;
        margin-top: -25px;
        margin-bottom: 0;
    }
    
    .header h1 {
        font-size: 40px;
        margin-top: 60px !important;
    }
    
    .header p {
        font-size: 10px;
    }
    
     .intro h1 {
        font-size:45px;
    }
    
     .col-lg-12.col-md-12{
		text-align: center;
         padding-top: 30px;
	}
    
}




@media(max-width: 345px) {
    
    header.sticky .navbar-brand img {
        width: 58px;
        height: auto;
        margin-top: -25px;
        margin-bottom: 0;
    }
    
    .header h1 {
        font-size: 37px;
    }
    
    .header p {
        font-size: 10px;
        margin-left: 0;
        margin-bottom: 0;
        text-align: center;
    }
    
     .col-lg-12.col-md-12{
		text-align: center;
	}
    
     footer {
        text-align: center;
    }
    
    
}







/*Mozila Set Responsive*/



@media(max-width: 1280px) {
    
    .header .btn {
        margin: 250px 10px 40px 10px;
        font-size: 20px;
    
    }
    
}



@media(max-width: 980px) {
    
    .header .btn {
        margin: 200px 10px 40px 10px;
        font-size: 20px;
    
    }
    
}



@media(max-width: 800px) {
    
    .nav {
        padding:0;
        transition: all 0.3s ease;
    }
    
     .navbar-brand img {
        width: 60px;
        height: auto;
        margin-top: -22px;
        margin-bottom: 0;
        transition: all 0.3s ease;
    }
    
    .navbar-form {
        padding-top: auto !important;
        transition: all 0.3s ease
    }

    header.sticky .navbar-form {
        padding-top: 10px !important;
    }
    
    .header .btn {
        margin: 160px 10px 40px 10px;
        font-size: 15px;
    }
    
    

}



@media(max-width: 360px) {
    
    
    .intro h1 {
        font-size:40px;
    }
    
    .intro p {
        float: center;
        color: #000;
        font-size: 11px;
    }

}



@media(max-width: 266px) {
    
    .pull-right img {
        width: 300px;

    }
    
    .intro h1 {
        font-size:29px;
        margin-right: 0;
    }
    
    .intro p {
        padding: 0 30px 0 30px;
    }
    
    .header h1 {
        margin-top: 30px !important;
    }

    .header p {
        margin-top: 10px !important;
    }

}



@media(max-width: 240px) {
    
    .pull-right img {
        width: 300px;

    }
    
    .intro h1 {
        font-size:30px;
        margin-right: 20px;
    }
}